.about {
    display: flex;
    

    align-items: stretch;

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 45%;
        background-color: var(--main-color-light-2);
        // border-radius: 1.1rem;
    }
    &__image {
        width: 65%;
        padding: 3rem;
        border-radius: 1.1rem;
        

    }

    &__box {
        background-color: var(--main-color-dark-2);
        padding: 3rem;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__paragraph {
        font-size: 2rem;
        line-height: 1.7;
    }
}