.home-top-divider {
    background-color: var(--gray-1);
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        width: 100%;
    }
}

.section-about-us {
    display: flex;
    padding-top: 3.2rem;
    gap: 9.6rem;
    align-items: center;
    
}

.section-reviews {

    background-color: var(--main-color-lightest);
    
    &__main {
        display: flex;
        justify-content: space-between;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        gap: 9.6rem;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6rem;

    }
}

.section-customer-story {
    display: flex;

    &__image {
        width: 45%;
    }
}

.section-pricing {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__text {

    }

    &__toggle {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;
    }

    &__toggle-icon {
        width: 4rem;
        height: 4rem;
    }
}

.section-faq {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

.section-resources {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

@media (max-width: 67.5rem) {
    .step {

        &__icon {
            width: 6rem;
            height: 6rem;
        }
    }
}

@media (max-width: 61.31rem) {
    .steps {
        gap: 3.2rem;
    }
}

@media (max-width: 52.75rem) {
    html {
        font-size: 56.25%;
    }

    .pricing-card {
        flex: 0 0 calc((100% - 1.6rem) / 2);
    }

    .pricing-cards {
        flex-wrap: wrap;
    }

    .section-customer-story {
        flex-wrap: wrap;

        &__image {
            width: 100%;
        }
    }
    .section-about-us {
        flex-direction: column;
        padding: 3.2rem;
    }
}

// Left off at ~860px

@media (max-width: 38.19rem) {
    .stats {
        flex-wrap: wrap;

        &__stat {
            flex: 0 0 calc((100% - 6rem) / 2);
        }
    }

    .feature {
        flex: 0 0 calc((100% - 6rem) / 2);
    }

    .product-feature {
        flex-direction: column;
    }

    .steps {
        align-items: center;
        flex-wrap: wrap;
    }

    .step {
        flex: 0 0 100%;
        padding: 9.6rem;
    
    }

    .logos {
        justify-content: center;
    
    }

    .logo {
        flex: 0 0 calc((100% - 7.2rem) / 2);
    }

}

@media (max-width: 28.63rem) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 20.81rem) {
    .pricing-card {
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
    }

    html {
        font-size: 43.75%;
    }

    .section-pricing {

        &__header {
            flex-wrap: wrap;
        }

        &__toggle {
            flex: 0 0 100%;
        }
    }

    .faq {
        justify-content: center;
        align-items: center;
    }
    .question {
        flex: 0 0 100%;
    }

    .resources {
        flex-wrap: wrap;

    }

    .blog-post {
        flex: 0 0 100%;
    }

    .customer-story {

        &__btns {
            flex-direction: column;
        }
    }

    .section-reviews {

        &__main {
            flex-direction: column;
        }
    }
    
    

    .feature {
        flex: 0 0 100%
    }

    .stats {
        flex-direction: column;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }

}