.home-top-divider {
    background-color: var(--gray-1);
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        width: 100%;
    }
}

.section-about-us {
    display: flex;
    padding-top: 3.2rem;
    gap: 9.6rem;
    align-items: center;
    
}