.home-top-divider {
    background-color: var(--gray-1);
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        width: 100%;
    }
}

.section-about-us {
    display: flex;
    padding-top: 3.2rem;
    gap: 9.6rem;
    align-items: center;
    
}

.section-reviews {

    background-color: var(--main-color-lightest);
    
    &__main {
        display: flex;
        justify-content: space-between;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        gap: 9.6rem;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6rem;

    }
}

.section-customer-story {
    display: flex;

    &__image {
        width: 45%;
    }
}

.section-pricing {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__text {

    }

    &__toggle {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;
    }

    &__toggle-icon {
        width: 4rem;
        height: 4rem;
    }
}

.section-faq {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

.section-resources {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}