.cta {
    display: flex;
    background-color: var(--main-color);
    padding-left: 3.2rem;
    padding-right: 3.2rem;

    align-items: center;
    justify-content: space-between;
    &__text {
        flex: 0 0 40%;
    }

    &__button:link, &__button:visited {
        display: inline-block;
        padding: 1.5rem 3rem;
        color: var(--main-color);
        background-color: #fff;
        border-radius: 1.1rem;
        transition: all .2s;
        font-weight: 600;
        font-size: 1.8rem;
        text-decoration: none;
    }

    &__button:hover, &__button:active {
        background-color: var(--main-color-darkest);
        color: var(--main-color-lightest);
    }

    &__image {
        width: 50%;
        border-radius: 1.1rem;
    }

}