.features-btns {
    display: flex;
    align-items: center;
    justify-content: center;


    &__btn {
        flex: 0 0 50%;
        border-radius: 1.1rem;

        &--active {
            background-color: var(--main-color-lightest);

        }
    }

    &__icon {
        width: 3.2rem;        
    }
}