.pricing-card {
    display: flex;
    flex-direction: column;

    flex: 0 0 calc((100% - 3 * 1.6rem) / 4);
    padding: 2rem;
    border-radius: 1.1rem;
    border: 2px solid var(--gray-3);
    min-height: 70rem;

    &__paragraph {
        font-size: 1.6rem;
        margin-bottom: 2.4rem;
    }

    &__price {
        font-size: 3.2rem;
        font-weight: 600;

    }

    &__monthly {
        font-size: 1.4rem;
        font-weight: 400;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin-bottom: 3.2rem;

    }

    &__list-item {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }

    &__icon {
        width: 2.0rem;
        height: 2rem;
        margin-right: .8rem;
    }

    &__button:hover {
        background-color: var(--main-color-dark);
    }

    &__button {
        margin-top: auto;
        text-align: center;
        padding: 1.6rem 3.2rem;
        background-color: var(--main-color);
        border-radius: 1.1rem;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 600;
        cursor: pointer;
        transition: all .2s;

        &--active {
            background-color: #fff;
            color: var(--main-color);
        }
        &--active:hover {
            background-color: var(--main-color-darkest);
            color: var(--main-color-lightest);
        }
    }

   

    &--active {
        color: var(--main-color-lightest);
        background-color: var(--main-color);
    }

}
