.product-feature {
    display: flex;
    gap: 9.6rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;

    &__text-col {
        flex: 0 0 calc((100% - 9.6rem) / 2);

    }

    &__paragraph {
        font-size: 1.6rem;
        line-height: 1.7;

    }

    &__image-col {
        background-color: var(--main-color-lightest);
    }

    &__image-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;
    }

    &__img {
        display: inline-block;

        &--one {
            width: 65%;
            grid-column: 1 / -1;
            
        }

        &--two {
            width: 35%;
        }

        &--three {
            width: 25%;

        }
    }
}