.question {
    flex: 0 0 calc((100% - 2rem) / 2);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--gray-3);
    border-radius: 1.1rem;


    &__text {
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
    }
}