.stats-box {
    display: flex;
    flex-wrap: wrap;

    &__stat {
        flex: 0 0 calc((100% - 3rem) / 2);
        font-size: 3.2rem;
        font-weight: 600;
    }

    &__symbol {
        color: var(--main-color);
        font-weight: 600;
    }

    &__text {
        font-size: 1.8rem;
        display: block;
        font-weight: 400;

    }
}