.heading-secondary {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--main-color-light);
    font-weight: 600;
}

.heading-primary {
    font-size: 6.4rem;
}