.container {
  margin: 0 auto;
  max-width: 120rem;
}

.u {
  &-text-center {
    text-align: center;
  }
  &-margin-bottom-20 {
    margin-bottom: 2rem;
  }

  &-margin-bottom-48 {
    margin-bottom: 4.8rem;
  }

  &-margin-top-48 {
    margin-top: 4.8rem;
  }

  &-margin-bottom-30 {
    margin-bottom: 3rem;
  }

  &-text-white {
    color: #fff;
  }

  &-text-main {
    color: var(--main-color);
  }
}
