.container {
  margin: 0 auto;
  max-width: 120rem;
}

.u {
  &-text-center {
    text-align: center;
  }

  &-margin-bottom-16 {
    margin-bottom: 1.6rem;
  }
  &-margin-bottom-20 {
    margin-bottom: 2rem;
  }

  &-margin-bottom-24 {
    margin-bottom: 2.4rem;
  }

    
  &-margin-bottom-30 {
    margin-bottom: 3rem;
  }

  &-margin-bottom-32 {
    margin-bottom: 3.2rem;
  }


  &-margin-bottom-48 {
    margin-bottom: 4.8rem;
  }

  &-margin-bottom-60 {
    margin-bottom: 6rem;
  }

  &-margin-bottom-96 {
    margin-bottom: 9.6rem;
  }

  &-margin-bottom-120 {
    margin-bottom: 12rem;
  }

  &-margin-bottom-200 {
    margin-bottom: 20rem;
  }


  &-margin-top-20 {
    margin-top: 2rem;
  }

  &-margin-top-48 {
    margin-top: 4.8rem;
  }

  &-margin-top-120 {
    margin-top: 12rem;
  }

  &-padding-bottom-32 {
    padding-bottom: 3.2rem;
  }

  &-padding-top-48 {
    padding-top: 4.8rem;
  }

  &-border-bottom {
    border-bottom: 3px solid var(--gray-3);
  }




  &-text-white {
    color: #fff;
  }

  &-text-main {
    color: var(--main-color);
  }
}
